@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-7">Pozdrav :)</h1>
    <p>Naučite više o PIN-u na <a href="https://vsite.hr/hr/program/predmet/IT/PIN">ovom linku</a>.</p>
</div>
